<header>
    <nav>
        <ul class="nav-list-items">
            <li><a href="/" class="nav-list-item">Shop</a></li>
            <li><a href="/products" class="nav-list-item">Products</a></li>
            <li><a href="/cart" class="nav-list-item">Cart</a></li>
            <li><a href="/orders" class="nav-list-item">Orders</a></li>            
            <li><a href="/add-product" class="nav-list-item">Add Product</a></li>            
        </ul>

        <!-- <ul class="nav-list-items">
            <li><a href="/login" class="nav-list-item">Login</a></li>
            <li><a href="/signup" class="nav-list-item">SignUp</a></li>
        </ul> -->
    </nav>
</header>